.banner {
    position: relative;
    text-align: center;
    color:black;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-content h1 {
    font-size: 48px;
}

.banner-content p {
    font-size: 18px;
}

.banner-content a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.banner-content a:hover {
    text-decoration: underline;
}

/* Our Story Section */
.story-section {
    padding: 40px;
    background-color: #fff;
    text-align: center;
}

.story-section h2 {
    margin-bottom: 40px;
    font-size: 32px;
}

.story-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.story-text {
    width: 50%;
    padding: 20px;
}

.story-text h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.story-text p {
    margin-bottom: 20px;
    font-size: 16px;
}

.story-image {
    width: 40%;
}

.story-image img {
    width: 100%;
    border-radius: 10px;
}

.cta-button {
    background-color: #f25a29;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #d84315;
}

/* Commitment Section */
.commitment-section {
    background-color: #f1f1f1;
    padding: 40px;
}

.commitment-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.commitment-image {
    width: 40%;
}

.commitment-image img {
    width: 100%;
    border-radius: 10px;
}

.commitment-text {
    width: 50%;
    padding: 20px;
}

.commitment-text h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.commitment-text p {
    font-size: 16px;
}

/* Featured Sneakers Section */
.featured-section {
    padding: 40px;
    text-align: center;
    background-color: #fff;
}

.featured-section h2 {
    margin-bottom: 40px;
    font-size: 32px;
}

.featured-content {
    display: flex;
    justify-content: space-between;
}

.featured-item {
    width: 30%;
    padding: 10px;
    text-align: center;
}

.featured-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.featured-item h4 {
    font-size: 20px;
    margin-top: 20px;
}

.featured-item p {
    font-size: 14px;
    margin-top: 10px;
}